
.ipynb_checkpoints/lp_generator-checkpoint.ipynb
*.TTF
.ipynb_checkpoints/lp-generator-checkpoint.ipynb
.ipynb_checkpoints/lp-generator-old-checkpoint.ipynb
.ipynb_checkpoints/lp_generator-checkpoint.ipynb
.ipynb_checkpoints/lp_generator-checkpoint.ipynb
